@page
@model MediaBazaarWebsite.Pages.AvailabilityModel
@{
}
<div id="calendar-controls">
	<button id="prev-month">Previous Month</button>
	<button id="next-month">Next Month</button>
</div>
<div id="calendar-month-year"></div>
<div id="calendar-header"></div>
<div id="calendar"></div>
<button id="submit-availability" class="btn btn-primary">Submit Availability</button>


