@page
@model MediaBazaarWebsite.Pages.AvailabilityModel
@{
}
<div id="calendar-controls">
	<button id="prev-month" class="calendar-button">Previous Month</button>
	<button id="next-month" class="calendar-button">Next Month</button>
</div>
<div id="calendar-month-year"></div>
<div id="calendar-header"></div>
<div id="calendar"></div>
<div class="center-button">
	<button id="submit-availability" class="btn orange-button">Submit Availability</button>
</div>




