@page
@model MediaBazaarWebsite.Pages.DetailsModel
@{
}

<section class="details">
    <div class="info-section personal-info">
        <h2>Personal Information</h2>
        <form method="POST" asp-page-handler="UpdateEmployee">
            <input asp-for="Employee.Id" type="hidden">
            <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            <label asp-for="Employee.FirstName">First Name</label>
            <input asp-for="Employee.FirstName" type="text" id="first-name">
            <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            <label asp-for="Employee.LastName">Last Name</label>
            <input asp-for="Employee.LastName" type="text" id="last-name">
            <span asp-validation-for="Employee.Email" class="text-danger"></span>
            <label asp-for="Employee.Email">Email</label>
            <input asp-for="Employee.Email" type="email" id="email">
            <label asp-for="Employee.BSN">BSN</label>
            <input asp-for="Employee.BSN" type="text" id="bsn" readonly>
            <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
            <label asp-for="Employee.PhoneNumber">Phone Number</label>
            <input asp-for="Employee.PhoneNumber" type="text" id="phone">
            <label asp-for="Employee.Birthday">Birthday</label>
            <input asp-for="Employee.Birthday" type="text" id="birthday" readonly>
            <span asp-validation-for="Employee.Address" class="text-danger"></span>
            <label asp-for="Employee.Address">Address</label>
            <input asp-for="Employee.Address" type="text" id="address">
            <button type="submit" class="btn-edit">Edit</button>
        </form>
    </div>
    <div class="info-section emergency-contact">
        <h2>Emergency Contact</h2>
        <form method="POST" asp-page-handler="UpdateEmergencyContact">
            <input asp-for="Employee.Id" type="hidden">
            <span asp-validation-for="EmergencyContact.firstName" class="text-danger"></span>
            <label asp-for="EmergencyContact.firstName">First Name</label>
            <input asp-for="EmergencyContact.firstName" type="text" id="emergency-first-name">
            <span asp-validation-for="EmergencyContact.lastName" class="text-danger"></span>
            <label asp-for="EmergencyContact.lastName">Last Name</label>
            <input asp-for="EmergencyContact.lastName" type="text" id="emergency-last-name">
            <span asp-validation-for="EmergencyContact.email" class="text-danger"></span>
            <label asp-for="EmergencyContact.email">Email</label>
            <input asp-for="EmergencyContact.email" type="email" id="emergency-email">
            <span asp-validation-for="EmergencyContact.phoneNumber" class="text-danger"></span>
            <label asp-for="EmergencyContact.phoneNumber">Phone Number</label>
            <input asp-for="EmergencyContact.phoneNumber" type="text" id="emergency-phone">
            <button type="submit" class="btn-edit">Edit</button>
        </form>
    </div>
</section>