@page
@model MediaBazaarWebsite.Pages.DetailsModel
@{
}

<section class="details">
	<div class="info-section personal-info">
		<h2>Personal Information</h2>
		<form method="POST">
			<label asp-for="Employee.FirstName">First Name</label>
			<input asp-for="Employee.FirstName" type="text" id="first-name" name="first-name">
			<span asp-validation-for="Employee.FirstName" class="text-danger"></span>
			<label asp-for="Employee.LastName">Last Name</label>
			<input asp-for="Employee.LastName" type="text" id="last-name" name="last-name">
			<span asp-validation-for="Employee.LastName" class="text-danger"></span>
			<label asp-for="Employee.Email">Email</label>
			<input asp-for="Employee.Email" type="email" id="email" name="email">
			<span asp-validation-for="Employee.Email" class="text-danger"></span>
			<label asp-for="Employee.BSN">BSN</label>
			<input asp-for="Employee.BSN" type="text" id="bsn" name="bsn" readonly>
			<label asp-for="Employee.PhoneNumber">Phone Number</label>
			<input asp-for="Employee.PhoneNumber" type="text" id="phone" name="phone">
			<span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
			<label asp-for="Employee.Birthday">Birthday</label>
			<input asp-for="Employee.Birthday" type="text" id="birthday" name="birthday" readonly>
			<label asp-for="Employee.Address">Address</label>
			<input asp-for="Employee.Address" type="text" id="address" name="address">
			<span asp-validation-for="Employee.Address" class="text-danger"></span>
			<button type="submit" class="btn-edit">Edit</button>
		</form>
	</div>
	<div class="info-section emergency-contact">
		<h2>Emergency Contact</h2>
		<form method="POST">
			<label asp-for="EmergencyContact.FirstName">First Name</label>
			<input asp-for="EmergencyContact.FirstName" type="text" id="emergency-name" name="emergency-name">
			<span asp-validation-for="EmergencyContact.FirstName" class="text-danger"></span>
			<label asp-for="EmergencyContact.LastName">Last Name</label>
			<input asp-for="EmergencyContact.LastName" type="text" id="emergency-name" name="emergency-name">
			<span asp-validation-for="EmergencyContact.LastName" class="text-danger"></span>
			<label asp-for="EmergencyContact.Email">Email</label>
			<input asp-for="EmergencyContact.Email" type="email" id="emergency-email" name="emergency-email">
			<span asp-validation-for="EmergencyContact.Email" class="text-danger"></span>
			<label asp-for="EmergencyContact.PhoneNumber">Phone Number</label>
			<input asp-for="EmergencyContact.PhoneNumber" type="text" id="emergency-phone" name="emergency-phone">
			<span asp-validation-for="EmergencyContact.PhoneNumber" class="text-danger"></span>
			<button type="submit" class="btn-edit">Edit</button>
		</form>
	</div>
</section>
