@page
@model MediaBazaarWebsite.Pages.ScheduleModel
@{
}
<h1>Welcome User!</h1>

<div class="schedule-container">
    <div class="week-navigation">
        <button id="prev-week-btn">Previous Week</button>
        <span id="current-week">Week 1</span>
        <button id="next-week-btn">Next Week</button>
    </div>
    <div class="schedule">
        <div class="days">
            <div class="day">Monday</div>
            <div class="day">Tuesday</div>
            <div class="day">Wednesday</div>
            <div class="day">Thursday</div>
            <div class="day">Friday</div>
        </div>
        <div class="slot" data-date="YOUR_DATE" data-slot-id="YOUR_SLOT_ID" data-selected="false">
            <span class="user-name"></span>
        </div>
    </div>
</div>
